ENVIRONMENT_PREFIX="dev"
PROJECT_PREFIX="infrahdevworker"
PROJECT_LOCATION="North Europe"
LOG_FOLDER="${LOG_FOLDER:-${HOME}/logs}"

mkdir -p "$LOG_FOLDER"
PROJECT_RESOURCE_GROUP="Devops"
PROJECT_SUBSCRIPTION_ID="2b2fe845-7617-4fe4-a6d9-f769a3cf9824"
ACR_NAME="${ENVIRONMENT_PREFIX}${PROJECT_PREFIX}contregistry"