ENVIRONMENT_PREFIX="dev"
PROJECT_PREFIX="infrahapidev"
PROJECT_LOCATION="South Africa North"
LOG_FOLDER="${LOG_FOLDER:-${HOME}/logs}"

mkdir -p "$LOG_FOLDER"
PROJECT_RESOURCE_GROUP="DevOps"
PROJECT_SUBSCRIPTION_ID="aa5b09ff-5904-45a4-9bbc-6cda66238807"
ACR_NAME="${ENVIRONMENT_PREFIX}${PROJECT_PREFIX}contregistry"